<!-- {% capture category %}{% if post %}{{ post.categories | category_links | size }}{% else %}{{ page.categories | category_links | size }}{% endif %}{% endcapture %} -->
<!-- {% unless category == '0' %} -->
<!-- <span class="categories"> -->
<!--   {% if post %} -->
<!--     {{ post.categories | category_links }} -->
<!--   {% else %} -->
<!--     {{ page.categories | category_links }} -->
<!--   {% endif %} -->
<!-- </span> -->
<!-- {% endunless %} -->

<span class="categories">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
  <a href="{{site.baseurl}}/category/{{category | slugify}}">{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</span>
